/Backend/servRegistrarTarjeta/build/
/Backend/ServAuten/nbproject/private/
/Backend/servRegistrarTarjeta/dist/
/Backend/ServAuten/build/
/Backend/servPartidos/nbproject/private/
/Backend/servPartidos/build/