<div style="height: 50px;">
    <div style="padding: 10px; float: left; width: 45%; text-align: justify;">
        <strong>Equipo: </strong>{{miApuesta.id_equipo}}<br>
        <strong>CPorcentaje: </strong>{{miApuesta.porcentaje}}
    </div>
    <div class="col2 ">
        <form (submit)=realizarApuesta()>
            <label>Dinero</label>
            <input class="form-control " type="number " placeholder="100000 " name="dinero " [(ngModel)]="dinero ">
            <button class="buy "><i class="material-icons " value="Registrar ">Realizar apuesta</i></button>
        </form>
    </div>
</div>