<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>
    <div class="row" *ngIf="correcto==false">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert">
                {{ mensaje }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col1 ">
            <div class="card ">
                <div class="front ">
                    <div class="type ">
                        <img class="bankid " />
                    </div>
                    <span class="chip "></span>
                    <span class="card_number ">&#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; &#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
                    <div class="date "><span class="date_value ">MM/YYYY</span></div>
                    <span class="fullname ">Nombre Completo</span>
                </div>
            </div>
        </div>
        <div class="col2 ">
            <form (submit)=registrar()>
                <label>Número de tarjeta</label>
                <input class="form-control " type="number " maxlength="10 " name="numero_tarjeta " placeholder="00000000000000 " [(ngModel)]="numero ">
                <label>Fecha de Vencimiento</label>
                <input class="form-control " type="text " placeholder="YYYY-MM " name="fechaVen " [(ngModel)]="fecha ">
                <label>Código de seguridad</label>
                <input class="form-control " type="number " placeholder="123 " maxlength="10 " name="cv " [(ngModel)]="cv ">
                <label>Dinero</label>
                <input class="form-control " type="number " placeholder="100000 " name="dinero " [(ngModel)]="dinero ">
                <button class="buy "><i class="material-icons " value="Registrar ">Registrar</i></button>
            </form>
        </div>
    </div>
</div><br><br>