<div class="container">
    <form>
        <div class="col2">
            <label>Cédula</label>
            <input class="form-control" type="number" name="cedula" placeholder="0000000000">
            <label>Nombre</label>
            <input class="form-control" type="text" placeholder="Gustavo" name="nombre">
            <label>Apellido</label>
            <input class="form-control" type="text" placeholder="Delgado" maxlength="3" name="apellido">
            <label>Correo electrónico</label>
            <input class="form-control" type="email" placeholder="gdelgado2@gmail.com" name="correo">
            <label>Contraseña</label>
            <input class="form-control" type="password" placeholder="123456" name="contraseña">
            <br>
            <input type="submit" name="accion" value="Registrar" />
        </div>
    </form>
</div>