<div class="container" id="pagina">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
    <div class="container main-container" id="contenido">
        <router-outlet></router-outlet>
    </div><br><br>
    <!-- Footer -->
    <div class="footer" id="pie">
        © 2020 Copyright: Gustavo Delgado - Daniela Peña
        <a href="https://github.com/dpenad3/Gestor-Apuestas">
            <img src="assets/imagenes/icono-github.png" width="40" height="30"> Repositorio
        </a>
    </div>
</div>