<nav class="navbar navbar-expand-lg " style="background-color: rgba(255, 166, 0, 0.486);">
    <a class="navbar-brand" [routerLink]="['inicio']">Apuesta en Grande</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active">
                <a class="navbar-brand" [routerLink]="['inicio']">
                    <i class=" pi pi-home" style="font-size: 2em"></i>Inicio
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="navbar-brand" [routerLink]="['inicioSesion']">
                    <i class="pi pi-user" style="font-size: 2em"></i>Iniciar sesión
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="navbar-brand" [routerLink]="['registro']">
                    <i class="pi pi-user-plus" style="font-size: 2em"></i> Registrarse
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="navbar-brand" [routerLink]="['tarjeta']">
                    <i class="pi pi-id-card" style="font-size: 2em"></i> Registrar Tarjeta
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="navbar-brand" [routerLink]="['partidosF']">
                    <i class="pi pi-calendar-times" style="font-size: 2em"></i>Partidos
                </a>
            </li>
        </ul>
    </div>
</nav><br>